numpy>=1.12.4
vtk>=9.3.0
trame>=3.7.1
trame-client>=3.5.0
trame-components>=2.4.0
trame-matplotlib>=2.0.3
trame-plotly>=3.0.2
trame-rca>=0.6.0
trame-server>=3.2.3
trame-simput>=2.4.3
trame-vega>=2.1.1
trame-vtk>=2.8.9
trame-vtklocal>=0.6.0
trame-vuetify>=2.6.1

